In [2]:
import sqlite3
import pandas as pd

con = sqlite3.connect("data/db/test.db")
df = pd.read_sql("SELECT * FROM Test", con)
df

Empty DataFrame
Columns: [id, name, age]
Index: []