In [1]:
import pandas as pd

In [ ]:
data = pd.read_csv("../data/raw/cookie_cats.csv") # Obtain the data from the CSV
data.head() # View of the fist few lines of the csv

   userid  version  sum_gamerounds  retention_1  retention_7
0     116  gate_30               3        False        False
1     337  gate_30              38         True        False
2     377  gate_40             165         True        False
3     483  gate_40               1        False        False
4     488  gate_40             179         True         True

In [7]:
print(len(data['userid'].unique())) # Check NÂº of Unic Users
print(len(data)) # Check number of rows

90189
90189

In [ ]:
data.info() # Validate the data types of each column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90189 entries, 0 to 90188
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   userid          90189 non-null  int64
 1   version         90189 non-null  object
 2   sum_gamerounds  90189 non-null  int64
 3   retention_1     90189 non-null  bool
 4   retention_7     90189 non-null  bool
dtypes: bool(2), int64(2), object(1)
memory usage: 2.2+ MB

In [ ]:
data.describe() # Summary of analytics

             userid  sum_gamerounds
count  9.018900e+04    90189.000000
mean   4.998412e+06       51.872457
std    2.883286e+06      195.050858
min    1.160000e+02        0.000000
25%    2.512230e+06        5.000000
50%    4.995815e+06       16.000000
75%    7.496452e+06       51.000000
max    9.999861e+06    49854.000000

In [ ]:
# Check qty of users played a X version and who stayed on day 1 to day 7
print(data["version"].value_counts())
print(data["retention_1"].value_counts())
print(data["retention_7"].value_counts())

version
gate_40    45489
gate_30    44700
Name: count, dtype: int64
retention_1
False    50036
True     40153
Name: count, dtype: int64
retention_7
False    73408
True     16781
Name: count, dtype: int64

In [ ]:
data.loc[data["version"] == "gate_30", "sum_gamerounds"].describe() # Filter the version and then describe the game rounds.

count    44700.000000
mean        52.456264
std        256.716423
min          0.000000
25%          5.000000
50%         17.000000
75%         50.000000
max      49854.000000
Name: sum_gamerounds, dtype: float64

In [21]:
data.loc[data["version"] == "gate_40", "sum_gamerounds"].describe() # Filter the version and then describe the game rounds.

count    45489.000000
mean        51.298776
std        103.294416
min          0.000000
25%          5.000000
50%         16.000000
75%         52.000000
max       2640.000000
Name: sum_gamerounds, dtype: float64

In [ ]:
print(data.isna().sum()) # Count any N/A Values
print(data.describe(include=object)) # Check odd strings
print(data.value_counts(dropna=False)) # Counts how many times an unique value appears including NaN

userid            0
version           0
sum_gamerounds    0
retention_1       0
retention_7       0
dtype: int64
        version
count     90189
unique        2
top     gate_40
freq      45489
userid   version  sum_gamerounds  retention_1  retention_7
116      gate_30  3               False        False          1
337      gate_30  38              True         False          1
377      gate_40  165             True         False          1
483      gate_40  1               False        False          1
488      gate_40  179             True         True           1
                                                             ..
9999441  gate_40  97              True         False          1
9999479  gate_40  30              False        False          1
9999710  gate_30  28              True         False          1
9999768  gate_40  51              True         False          1
9999861  gate_40  16              False        False          1
Name: count, Length: 90189, dtype: int64

In [27]:
print(data["userid"].duplicated().any()) # Check if userid has any duplicated values

# Count gamerounds = 0
mask = data['sum_gamerounds'] == 0
print(f"Any True: {mask.any()}, Count of True: {mask.sum()}")

# Count gamerounds < 0
mask = data['sum_gamerounds'] < 0
print(f"Any True: {mask.any()}, Count of True: {mask.sum()}")

# Count gamerounds == 0 with retention_1 TRUE
mask = (data['sum_gamerounds'] == 0) & (data["retention_1"] == True) & (data["retention_7"] == False) 
print(f"Any True: {mask.any()}, Count of True: {mask.sum()}")

# Count gamerounds == 0 with retention_7 TRUE
mask = (data['sum_gamerounds'] == 0) & (data["retention_1"] == False)  & (data["retention_7"] == True) 
print(f"Any True: {mask.any()}, Count of True: {mask.sum()}") 

# Count gamerounds == 0 with both retention TRUE
mask = (data['sum_gamerounds'] == 0) & (data["retention_1"] == True) & (data["retention_7"] == True)
print(f"Any True: {mask.any()}, Count of True: {mask.sum()}")

False
Any True: True, Count of True: 3994
Any True: False, Count of True: 0
Any True: True, Count of True: 82
Any True: True, Count of True: 24
Any True: True, Count of True: 5

In [30]:
data.to_csv("../data/processed/cookie_cats_clean.csv", index=False)